<nav>
  <a href="/">Главная</a>
  <a href="/views/about.hbs">О нас</a>
  <a href="/views/services">Услуги</a>
  <a href="/views/contact">Контакты</a>
  <a href="/views/service-info">Добавить услугу</a>
  <a href="/views/reviews">Отзывы</a>
</nav>