<nav>
  <a href="/">Главная</a>
  <a href="/about">О нас</a>
  <a href="/services">Услуги</a>
  <a href="/contact">Контакты</a>
  <a href="/review">Отзывы</a>
  <a href="/warehouse">Помещения</a>
  <a href="/reservation">Мои брони</a>
</nav>