<nav>
  <a href="/">Главная</a>
  <a href="/about">О нас</a>
  <a href="/services">Услуги</a>
  <a href="/contact">Контакты</a>
  <a href="/service-info">Добавить услугу</a>
  <a href="/reviews">Отзывы</a>
</nav>