<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>О нас - BoxSpace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

{{> header}}
{{> navbar}}

<main class="content">
  <section>
    <h3>Наша миссия и ценности</h3>
    <p>Компания BoxSpace предлагает услуги безопасного хранения вещей...</p>
  </section>
</main>

{{> footer}}

</body>
</html>
