{{!< layout}}
<section class="content">
  <h3>Наша миссия и ценности</h3>
  <p>Компания BoxSpace предлагает услуги безопасного хранения вещей, мебели и документов. Наша цель — предоставить удобные и доступные решения для хранения ваших ценностей.</p>
</section>