<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты - BoxSpace</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

{{> header}}
{{> navbar}}

<main class="content">
  <section>
    <h3>Свяжитесь с нами</h3>
    <ul>
      <li>Телефон: <a href="tel:+79173947480">+7 (917) 394-74-80</a></li>
      <li>Email: <a href="mailto:info@boxspace.ru">info@boxspace.ru</a></li>
      <li>Адрес: ул. Заводская, д.13, Санкт-Петербург</li>
    </ul>
  </section>
</main>

{{> footer}}

</body>
</html>
