<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Главная</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
{{> header}}
{{> navbar}}
<main>
  <section class="hero">
    <h2>Надежные решения для хранения ваших вещей</h2>
  </section>
</main>
{{> footer}}
</body>
</html>