<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Отзывы - BoxSpace</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

{{> header}}
{{> navbar}}

<main class="content">
  <h1>Отзывы наших пользователей</h1>
  <div id="api-content"></div>
  <script src="/js/reviews.js"></script>
</main>

{{> footer}}

</body>
</html>
