<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Отзывы</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
{{> header}}
{{> navbar}}
<main>
  <h1>Отзывы наших пользователей</h1>
  <div id="api-content"></div>
  <script src="/reviews.js"></script>
</main>
{{> footer}}
</body>
</html>