<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Услуги</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<main>
  <section class="table-container">
    <h3>Тарифы на услуги</h3>
    <table class="tariff-table">
      <thead>
      <tr>
        <th>Услуга</th>
        <th>Стоимость</th>
        <th>Описание</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Долгосрочное хранение</td>
        <td>1000 руб/мес</td>
        <td>Безопасное хранение вещей</td>
      </tr>
      </tbody>
    </table>
  </section>
</main>

<h1>Загрузка изображения</h1>

<form action="/upload" method="POST" enctype="multipart/form-data">
  <label for="file">Выберите изображение:</label>
  <input type="file" name="file" id="file" accept="image/*" required />

  <br><br>

  <button type="submit">Загрузить</button>
</form>

{{#if imageUrl}}
  <h2>Файл загружен:</h2>
  <p><a href="{{imageUrl}}" target="_blank">{{imageUrl}}</a></p>
  <img src="{{imageUrl}}" alt="Загруженное изображение" style="max-width: 300px;">
{{/if}}

</body>
</html>
