<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Услуги</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
{{> header}}
{{> navbar}}
<main>
  <section class="table-container">
    <h3>Тарифы на услуги</h3>
    <table class="tariff-table">
      <thead>
      <tr>
        <th>Услуга</th>
        <th>Стоимость</th>
        <th>Описание</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Долгосрочное хранение</td>
        <td>1000 руб/мес</td>
        <td>Безопасное хранение вещей</td>
      </tr>
      </tbody>
    </table>
  </section>
</main>
{{> footer}}
</body>
</html>
